{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>

<h1>Recherche Article COVID</h1>

<form action="/articles/">
    <label for="title">Titre:</label><br>
    <input type="text" name="title" id="fname" value="Clinical"><br><br>
    <input type="submit" value="Submit">
  </form>

  {% for subtheme in subthemes %}
  <li>
    <a href="articles/?subtheme={{subtheme.id}}">{{ subtheme.subtheme }}</a>
  </li>
    {% endfor %}

</body>
</html>